<div class="entry">
    <div class="mv2 mh2-ns mh0 f7 ba b--moon-gray">
      <div class="bb b--light-gray">
        <div id="crag-{{this.number}}" class="bl bw3">
          <div class="flex flex-column flex-row-ns pa3">
            <div class="pr3-ns mb2 mb0-ns w-100 w-70-ns">
              <h3 class="pv0-ns mv0 b f3-ns f4 lh-copy">{{this.name}}</h3>
            </div>
            <div class="w-100 w-30-ns pl3-ns mid-gray lh-copy">
              <strong>Last Forecast:</strong> <span id="last-forecast-{{this.number}}"></span><br />
              <strong>Office Accuracy:</strong> <span id="office-{{this.number}}"></span>
            </div>
          </div>
          <div id="observation-{{this.number}}" class="flex flex-column flex-row-ns ph3 pb3"></div>
        </div>
      </div>
      <div id="forecast-{{this.number}}" class="flex flex-column flex-row-ns bl bw3">
      </div>
    </div>
</div>
