{{#each this.periods}}
  <div class="tc mt3" style="flex:1;">
    <div class="mid-gray b f5-ns f3 mv0-ns mv2">{{name}}</div>
    <div class="flex items-stretch justify-center flex-row flex-column-ns">
      <div class="mid-gray f6-ns f4 mv1 pa2 lh-copy flex flex-column flex-auto">
        <div class="b">{{temperature}}&deg;F</div>
        <div class="pa3"><img alt="{{shortForecast}}" title="{{shortForecast}}" src="/assets/images/svg/{{icon_left}}.svg" /></div>
      </div>
      <div class="bg-mid-gray white f6-ns f4 mt1 pa2 lh-copy flex flex-column flex-auto">
        {{#if night_temperature}}
        <div class="b">{{night_temperature}}&deg;F</div>
        <div class="pa3"><img alt="{{night_shortForecast}}" title="{{night_shortForecast}}" src="/assets/images/svg/{{night_icon_left}}.svg" /></div>
        {{else}}
        <div class="b">&dash;</div>
        <div class="pa3"><img src="/assets/images/svg/night_na.svg" /></div>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}
