
<div class="w-100 w-30-ns mid-gray lh-copy ba b--light-gray">
  <div class="flex flex-column">
    <div class="tc bg-mid-gray white">Currently</div>
    <div class="pa2 cf bb b--light-gray" style="min-height:6em">
      <strong>Current Temp:</strong> {{this.curr_temp}}&deg;F
      {{#if this.curr_heat_index}}
      (feels like {{this.curr_heat_index}}&deg;F)
      {{/if}}
      {{#if this.curr_wind_chill}}
      (feels like {{this.curr_wind_chill}}&deg;F)
      {{/if}}
      {{#if this.curr_wind}}
      <br /><strong>Wind:</strong> {{this.curr_wind}}
      {{/if}}
      {{#if this.curr_humidity}}
      <br /><strong>Humidity:</strong> {{this.curr_humidity}}%
      {{/if}}
    </div>
    <div class="flex flex-row items-center">
      <div class="self-center ph2 tc" style="flex:1">{{this.curr_timestamp}} ago</div>
      <div class="self-center ph2 tc bl b--light-gray nowrap" style="flex:1">{{this.distance}} miles away</div>
    </div>
  </div>
</div>
