<div class="w-100 w-50-ns fl">
    <h2 class="tc">This Week</h2>
    {{#each thisweek}}
    <div class="pv3 mw5 center">
        <div class="w-40 b tc fl">
            <div class="f2">{{this.weekday}}</div>
            <div class="f3">{{this.date}}</div>
        </div>
        <div class="w-60 pv3 f4 b fr">
            <div>{{this.start}} - {{this.end}}</div>
        </div>
        <div class="cb"></div>
    </div>
    {{/each}}
</div>
<div class="w-100 w-50-ns fr">
    <h2 class="tc">Next Week</h2>
    {{#each nextweek}}
    <div class="mv4 mw5 center">
        <div class="w-40 b tc fl">
            <div class="f2">{{this.weekday}}</div>
            <div class="f3">{{this.date}}</div>
        </div>
        <div class="w-60 pv3 f4 b fr">
            <div>{{this.start}} - {{this.end}}</div>
        </div>
        <div class="cb"></div>
    </div>
    {{/each}}
</div>
<div class="cb"></div>