<div class="flex flex-column flex-row-ns bl bw3 b--light-gray">
{{#each this.periods}}
  <div class="tc" style="flex:1;">
      <div data-crag="{{@root.crag_index}}" data-day="{{@index}}" data-date="{{date}}" data-active="false" class="forecast-day db-ns dn pointer sans-serif mid-gray b f5-ns f4 bt bb b--light-gray pv2 relative fancy-link hover-light-red">{{name}}</div>
  </div>
{{/each}}
</div>
<div id="hourly-forecast-{{this.crag_index}}" class="hourly-forecast dn flex-row bl bw3 b--light-gray overflow-x-auto"></div>
<div class="flex flex-column flex-row-ns bl bw3 b--{{this.color}}">
{{#each this.periods}}
  <div class="tc" style="flex:1;">
    <div data-crag="{{@root.crag_index}}" data-day="{{@index}}" data-date="{{date}}" data-active="false" class="forecast-day dn-ns pointer sans-serif mid-gray b f5-ns f4 bt bb b--light-gray pv2 relative fancy-link hover-light-red">{{name}}</div>
    <div id="hourly-forecast-{{@root.crag_index}}-{{@index}}" class="hourly-forecast dn flex-row overflow-x-auto"></div>
    <div class="flex items-stretch justify-center flex-row flex-column-ns">
      <div id="{{@root.crag_index}}-daytime-{{@index}}" class="daytime mid-gray bg-white f6-ns f4 ph2 pt2 pb0 lh-copy flex flex-column flex-auto">
        <div class="f6 b mb1">{{temperature}}&deg;F</div>
        <div class="relative w-60-ns w-30 center">
          {{#if icon_split}}
          <embed class="relative w3 top-0 left-0" src="/assets/images/svg/{{icon_left}}.svg#left" />
          <embed class="absolute w3 top-0 left-0" src="/assets/images/svg/{{icon_right}}.svg#right" />
          {{else}}
          <embed class="relative w3 top-0 left-0" alt="{{shortForecast}}" title="{{shortForecast}}" src="/assets/images/svg/{{icon_left}}.svg#full" />
          {{/if}}
        </div>
        <div class="pv2-ns f7">
          {{{icon_text}}}
        </div>
      </div>
      <div id="{{@root.crag_index}}-nighttime-{{@index}}" class="nighttime bg-mid-gray white f6-ns f4 pa2 lh-copy flex flex-column flex-auto">
        {{#if night_temperature}}
        <div class="f6 b mb1">{{night_temperature}}&deg;F</div>
        <div class="relative w-60-ns w-30 center">
          {{#if night_icon_split}}
          <embed class="relative w3 top-0 left-0" src="/assets/images/svg/{{night_icon_left}}.svg#left" />
          <embed class="absolute w3 top-0 left-0" src="/assets/images/svg/{{night_icon_right}}.svg#right" />
          {{else}}
          <embed class="relative w3 top-0 left-0" alt="{{shortForecast}}" title="{{shortForecast}}" src="/assets/images/svg/{{night_icon_left}}.svg#full" />
          {{/if}}
        </div>
        <div class="pv2-ns f7">
          {{{night_icon_text}}}
        </div>
        {{else}}
        <div class="f6 b mb1">&dash;</div>
        <div class="relative w-60-ns w-30 center">
          <embed class="relative w3 top-0 left-0" src="/assets/images/svg/night_na.svg#full" />
        </div>
        <div class="pv2-ns f7">&nbsp;</div>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}
</div>
